* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

.round { border-radius: 1000px; }

.button {
  display: inline-block;
  box-shadow: 3px 5px 10px rgba(0,0,0,.2);
  padding: 14px 24px;
}
