* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-family: 'Rubik', sans-serif;
}

a {
  text-decoration: none;
}

.round { border-radius: 1000px; }

.button {
  display: inline-block;
  box-shadow: 2px 3px 7px rgba(0,0,0,.2);
  padding: 14px 24px;
}

#mainMenu {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: flex-end;
  list-style-type: none;
  align-items: center;
  height: 50px;
  width: 100%;
}

#mainMenu > li > a {
  color: #fff;
  text-transform: uppercase;
  padding: 15px;
}

#navbar {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 5vw;
  -ms-align-items: center;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 20px;
  left: 0;
  /*background: rgba(245,124,0,0.30);*/
  /*box-shadow: -2px -7px 4px 5px #000;*/
  z-index: 10;
}

.logo {
  max-width: 150px;
}

.logo img {
  width: 100%;
}

#banner {
  height: 100vh;
  background: #024A5E;
}

#moreButton {
  color: #000;
}

#quickDescription {
  padding: 0 5vw;
  position: relative;
  z-index: 7;
}

#main {
  padding: 0 5vw;
  position: relative;
}

#data {
  padding: 0 5vw;
}

#solution {
  padding: 0 5vw;
}

#device {
  position: relative;
  width: 336px;
  overflow: hidden;
  margin: auto;
}

#device video {
  position: absolute;
  z-index: 10;
  top: 144px;
  left: 25px;
  width: 286px;
}

#deviceFrame {
  /*transform: translate3d(0, 15%, 0);*/
  width: 336px;
  position: relative;
  z-index: 0;
}

#banner h1 {
  padding-bottom: 10px;
}

#banner h1 + a {
  margin-bottom: 10px;
  color: #fff;
}


section {
  /*background: radial-gradient(farthest-corner at 45px 45px, orange, red);*/
  background: #024A5E;
  background: #024A5E;
  height: 100vh;
}

section h1 {
  font-size: 52px;
  color: #fff;
}

section figure {
  background: #fff;
  max-width: 340px;
  padding: 24px;
  border-radius: 1000px;
  box-shadow: 3px 3px 20px rgba(0,0,0,.2);
  flex-shrink: 0;
  margin-right: 24px;
}

.row {
  display: flex;
  align-items: center;
}

.row p {
  color: #fff;
  font-size: 24px;
  line-height: 1.4;
}

section figure img {
  width: 100%;
}
